body{
  background-image: url("../images/lebronxbronnyjames.jpg");
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html{
  font-family: sans-serif;
  line-height: 1.2em;

label{
  display: block;
  
